<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Controller.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categorias</servlet-name>
        <servlet-class>Controller.Categorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarCategoria</servlet-name>
        <servlet-class>Controller.actualizoCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaCategoria</servlet-name>
        <servlet-class>Controller.BajaCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>Controller.Salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Productos</servlet-name>
        <servlet-class>Controller.Productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaProductos</servlet-name>
        <servlet-class>Controller.BajaProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizoProductos</servlet-name>
        <servlet-class>Controller.ActualizoProductos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categorias</servlet-name>
        <url-pattern>/categorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarCategoria</servlet-name>
        <url-pattern>/actualizarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaCategoria</servlet-name>
        <url-pattern>/bajaCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Productos</servlet-name>
        <url-pattern>/productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaProductos</servlet-name>
        <url-pattern>/bajaProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizoProductos</servlet-name>
        <url-pattern>/actualizoProductos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
